html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==Navbar== */

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  font: 16px;
  z-index: 1000;
  width: 100%;
  background-color: #FFFFFFE6;
  height: 75px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.link-list {
  padding-left: 30px;
  display: flex;
  gap: 6%;
  align-items: center;
  width: 1200px;
}

.nav-links .netlify-logo img {
  object-fit: cover;
  width: 122px;
  height: 50px;

}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  color: #181A1C;
  font-weight: 800;
  list-style-type: none;
  text-decoration: none;
}

.auth {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.menu {
  display: none;
  width: 200px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 22px;
}

.login {
  text-wrap: nowrap;
  font-weight: 600;
}

.signUpbutton {
  padding: 8px 14px;
  border-radius: 5px;
  background-color: blue;
  color: #FFFFFFE6;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.search {
  color: #181A1C;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .navbar {
      font-size: 18px;
      margin: 0;
      padding: 0;
  }

  .link-list, .auth {
      display: none;
  }

  .nav-links {
      display: flex;
  }

  .menu {
      display: flex;
  }
}

/* ==Home== */

.home {
  padding-top: 75px;
  color: #F6F6F7;
  background-image: linear-gradient(to bottom, #151934, #3655E2);
}

.wrapper {
  background-image: url("./assets/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-size: cover;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.wrapper h1 {
  padding-top: 3rem;
  font-size: 64px;
  padding-bottom: 3rem;
}

.wrapper h1 span {
  display: block;
}

.wrapper h4 {
  font-size: 16px;
}


@media screen and (max-width: 640px) {
  .wrapper{
      min-width: fit-content;
      display: flex;
      flex-direction: column;
  }
  .wrapper h1 {
      font-size: 37px;
  }

  .wrapper h4 {
      font-size: 16px;
  }
}

